@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-red: #FF0000;
  --theme-dark-red: #C8102E;
  --theme-dark-red: #C8102E;
  --theme-dark-red2: #400000;
  --theme-dark-red3: #840000;

  --highlight-green: #03FF00;
  --highlight-blue:#71c7d4;
  --highlight-yellow: #FFFF00;

  --dark-grey: #171b24;
  --info-board: #24232b;

  --black-opacity-1                  : hsla( 0, 0%, 0%, .87 );
  --black-opacity-2                  : hsla( 0, 0%, 0%, .70 );
  --black-opacity-3                  : hsla( 0, 0%, 0%, .54 );
  --black-opacity-4                  : hsla( 0, 0%, 0%, .32 );
  --black-opacity-5                  : hsla( 0, 0%, 0%, .16 );
  --black-opacity-6                  : hsla( 0, 0%, 0%, .08 );

  --white-opacity-1                  : hsla( 0, 0%, 100%, .87 );
  --white-opacity-2                  : hsla( 0, 0%, 100%, .70 );
  --white-opacity-3                  : hsla( 0, 0%, 100%, .54 );
  --white-opacity-4                  : hsla( 0, 0%, 100%, .32 );
  --white-opacity-5                  : hsla( 0, 0%, 100%, .16 );
  --white-opacity-6                  : hsla( 0, 0%, 100%, .08 );
}

body {
  background-color: black;
}

.side-menu[data-open="true"] {
  @apply transition duration-300 translate-x-0 ease-out;
}
.side-menu[data-open="false"] {
  @apply transition duration-300 -translate-x-full ease-out;
}