/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --swiper-pagination-color: white;
        --swiper-pagination-bullet-inactive-color: var(--swiper-pagination-color);
        --swiper-pagination-bottom: 0;

        --theme-red: #FF0000;
        --theme-dark-red: #C8102E;
        --theme-dark-red2: #400000;
        --theme-dark-red3: #840000;

        --highlight-green: #03FF00;
        --highlight-blue:#71c7d4;
        --highlight-yellow: #FFFF00;
       
        --grey:#888888 ;
        --brown:#400000;

        
        --dark-grey: #171b24;
        --info-board: #24232b;

        --black-opacity-1                  : hsla( 0, 0%, 0%, .87 );
        --black-opacity-2                  : hsla( 0, 0%, 0%, .70 );
        --black-opacity-3                  : hsla( 0, 0%, 0%, .54 );
        --black-opacity-4                  : hsla( 0, 0%, 0%, .32 );
        --black-opacity-5                  : hsla( 0, 0%, 0%, .16 );
        --black-opacity-6                  : hsla( 0, 0%, 0%, .08 );

        --white-opacity-1                  : hsla( 0, 0%, 100%, .87 );
        --white-opacity-2                  : hsla( 0, 0%, 100%, .70 );
        --white-opacity-3                  : hsla( 0, 0%, 100%, .54 );
        --white-opacity-4                  : hsla( 0, 0%, 100%, .32 );
        --white-opacity-5                  : hsla( 0, 0%, 100%, .16 );
        --white-opacity-6                  : hsla( 0, 0%, 100%, .08 );
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.bg-theme-red {
  background-color: var(--theme-red);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
